.App {
  text-align: center;
  margin-left: 5vw;
  color: rgb(59, 33, 18);
}

.AboutMe-Intro-Div {
  margin-left: 5vw;
}

.AboutMe-logo {
  width: 15vmin;
  height: 15vmin;
  pointer-events: none;
  border-radius: 10px;
  border: solid rgb(41, 102, 67) 0.25vw;
}

.AboutMe-Team-Hdr{
  margin-left: 5vw;
}

.AboutMe-Team{
  margin-left: 5vw;
  display: flex;
  flex-wrap: wrap;
}

.AboutMe-Cohort{
  
}

.AboutMe-Img {
  width: 25vmin;
  height: 20vmin;
  pointer-events: none;
  border-radius: 10px;
  border: solid rgb(41, 102, 67) 0.25vw;
}