.Footer {
    height: .55in;
    background-color: rgb(41, 102, 67);
    color: rgb(59, 33, 18);
    padding-top: .1in;
    text-align: center;
    font-size: 7pt;
}
.Footer h1 {
    color: rgb(59, 33, 18);
}