.Homepage {
    background-color: cornsilk;
    display: flex;
    padding: .25in;
    margin: .25in;
    padding-left: .25in;
    justify-content: space-evenly;
    color: rgb(95, 63, 45);
}


/* .Homepage VEGETABLE_IMAGE{
    max-width: 6in;
    max-height: 6in;
} */

.Homepage-Vegetable-Image{
    height: 150px;
    width: auto;
    border: solid rgb(41, 102, 67) 0.5vw;
    display: flex;
    justify-content: space-evenly;
    /* padding: .25in; */
    margin: .25in;
}

.Homepage-Form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Homepage li {
    list-style-type: none;
}